
.body-project{
    padding: 5vw;
    background-color: #313131;
}
.content-project{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block: 30px;
    justify-content: center;
    gap: 25px;
}

.title-project {
    color: white;
}

.card-project .messagem .desc{
    font-size: 13px;
    text-align: center;
}
.card-project{
    background-color: #242424;
    box-shadow: 0 5px 3px 3px #242424;
    border-radius: 10px;
    padding: 25px;
    border: solid 1px #ffffff54;
    position: relative;
    overflow: hidden;
}
.card-project img{
    width: 100%;
}

.card-project .messagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    color: white;
    padding-block: 10px;
}

.card-project .messagem .title{
    display: block;
    border-bottom: #08f57f solid 1px;
    margin-bottom: 10px;
    text-align: center;
    width: fit-content;
    font-weight: 600;
    font-size: 18px;
}

@media (max-width: 1080px) {
    
    .title-project{
        font-size: calc(3vw + 10px)
    }

    .body-project{
        padding-block: 9vw;
    }
    
    .content-project {
        width: 100%;
        background-position: right;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
    
}

@media (max-width: 500px) {
    .content-project {
        grid-template-columns: 1fr;
       gap: 30px;
    }

    .card-project{
        justify-self: center;
        width: 80vw;
    }
}

