.button-up{
    display: flex;
    position: fixed;
    z-index: 10;
    right: 5vw;
    bottom: 5vh;
    background-color: var(--main);
    border-radius: 100%;
    width: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.button-up .material-symbols-outlined{
    color: #313131;
    font-weight: bold;
}

.showBox{
    display: none;
}
